
  <a
    style="cursor: pointer;"
    class="list-group-item clearfix">
      <div
        class="pull-left"
        (click)="setSelectedTile('')">
        <h4 class="list-group-item-heading">{{ tile.name }}</h4>
        <p class="list-group-item-text">{{ 'Size: ' + tile.width +' X '+ tile.height }}</p>
      </div>
      <span
        class="pull-right"
        (click)="setSelectedTile('0deg')">
        <img
          [src]="tilesFolderPath + tile.path"
          alt="{{ tile.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>

      <span class="list-group-item-text">
        <p class="pull-left">Availability:&nbsp;&nbsp; </p>
        <p class="pull-left label-success img-circle"
          *ngIf="tile.availability === 'Yes'"
          style="width:15px; height:15px;"></p>
        <p class="pull-left label-danger img-circle"
          *ngIf="tile.availability != 'Yes'"
          style="width:15px; height:15px;"></p>
      </span>

      <span class="float-none col-xs-12" style="max-height: 120px;">
        <hr>
        <img
          [src]="tilesFolderPath + tile.path"
          alt="{{ tile.name }}"
          class="img-responsive col-xs-4 rotate-tile-90"
          style="max-height: 50px; max-width: 50px;"
          (click)="setSelectedTile('90deg')">
          <img
            [src]="tilesFolderPath + tile.path"
            alt="{{ tile.name }}"
            class="img-responsive col-xs-4 rotate-tile-180"
            style="max-height: 50px; max-width: 50px;"
            (click)="setSelectedTile('180deg')">
          <img
            [src]="tilesFolderPath + tile.path"
            alt="{{ tile.name }}"
            class="img-responsive col-xs-4 rotate-tile-270"
            style="max-height: 50px; max-width: 50px;"
            (click)="setSelectedTile('270deg')">

      </span>

  </a>
