<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" style="cursor: pointer" >Learning Tiles App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          style="cursor: pointer">
            <a routerLink="/">Home</a>
        </li>
        <li
          routerLinkActive="active"
          style="cursor: pointer">
            <a routerLink="/tiles/walldisplay">Wall Design</a>
        </li>
        <li
          routerLinkActive="active"
          style="cursor: pointer">
            <a routerLink="/tiles/tilesstock">Tiles Stock</a>
        </li>
        <li
          routerLinkActive="active"
          style="cursor: pointer">
            <a routerLink="/edittile/0">Edit Tiles</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a></li>
        <ng-template [ngIf]="!isAuthenticated()">
          <li><a style="cursor:pointer" routerLink="/signup">Register</a></li>
          <li><a style="cursor:pointer" routerLink="/signin">Login</a></li>
        </ng-template>
        <li><a style="cursor:pointer" *ngIf="isAuthenticated()" (click)="onlogOut()" >Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
